   
.codepanel {
    background-color: rgb(44, 44, 44);
}
.code {
    background-color: rgb(44, 44, 44);
    overflow-y: auto;
    position:fixed;
    height: 300px;
    color: white;
    font-family: monospace;
}